h1 {
    text-align: center; /* centré */
    }

    h2 {
        text-align: center; /* centré */
        }

        h2 {
            border-bottom:1px solid black;
            }

        img {
            width: 250px;
            height: 150px;
            text-align: center;  /* centré */
            }
          
        p {
            text-align: center; /* centré */
           
            }

        
            